<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiyx.dao.Role_permissionsMapper">
  <resultMap id="BaseResultMap" type="com.jiyx.entity.Role_permissions">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="r_id" jdbcType="INTEGER" property="rId" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, r_id, p_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role_permissions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role_permissions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiyx.entity.Role_permissions">
    insert into role_permissions (id, r_id, p_id)
    values (#{id,jdbcType=INTEGER}, #{rId,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jiyx.entity.Role_permissions">
    insert into role_permissions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rId != null">
        r_id,
      </if>
      <if test="pId != null">
        p_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rId != null">
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiyx.entity.Role_permissions">
    update role_permissions
    <set>
      <if test="rId != null">
        r_id = #{rId,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        p_id = #{pId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiyx.entity.Role_permissions">
    update role_permissions
    set r_id = #{rId,jdbcType=INTEGER},
      p_id = #{pId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>